*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Calculator box */
.calculator-container{
  width: 100%;
  max-width: 340px;   /* mobile */
  background: rgb(120, 36, 36);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Title */
header h1{
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

/* Display */
#display{
  width: 100%;
  font-size: 1.5rem;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  text-align: right;
}

/* Buttons */
.button-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button{
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Equal button */
.equal{
  grid-column: span 4;
  background-color: #28a745;
  color: white;
  font-size: 1.3rem;
}

/* Laptop & desktop */
@media (min-width: 768px){
  .calculator-container{
    max-width: 420px;
    padding: 25px;
  }

  #display{
    font-size: 1.8rem;
    padding: 15px;
  }

  button{
    padding: 18px;
    font-size: 1.3rem;
  }
}
